<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shocase.combine.measurements.dev" version="1.1.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Shocase Combine Measurements</name>
    <description>
        An app to record event scores and times to the Shocase server for leaderboard generation.
    </description>
    <author email="hello@digitsinmotion.com" href="http://digitsinmotion.com">
        Digits in Motion
    </author>
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <hook src="hooks/prepareAngular2App.js" type="before_prepare" />
    <access origin="*" />
    <preference name="StatusBarOverlaysWebView" value="false" />
    <preference name="Orientation" value="portrait" />
    <preference name="permissions" value="none" />
    <preference name="fullscreen" value="false" />
    <preference name="SplashScreen" value="screen" />
    <preference name="SplashScreenDelay" value="1000" />
    <preference name="ShowSplashScreenSpinner" value="false" />
    <preference name="loadUrlTimeoutValue" value="700000" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="UIWebViewBounce" value="false" />
    <preference name="android-targetSdkVersion" value="26" />
    <preference name="android-minSdkVersion" value="15" />
    <preference name="windows-target-version" value="8.1" />
    <preference name="windows-phone-target-version" value="8.1" />
    <preference name="android-build-tool" value="gradle" />
    <preference name="windows-appx-target" value="8.1-phone" />
    <platform name="ios">
        <preference name="phonegap-version" value="cli-8.0.0" />
    </platform>
    <platform name="android">
        <preference name="phonegap-version" value="cli-8.0.0" />
    </platform>
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <engine name="browser" spec="^5.0.4" />
</widget>
